<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Node.jsの練習のための簡易掲示板です。">
    <meta name="robots" content="noindex,nofollow">
    <title>BBS</title>
    <link rel="stylesheet" href="./style.css">
    <script>
        function init() {
            var id = localStorage.getItem('id');
            if (id == null) {
                location.href = './login';
            }
            document.querySelector('#id').textContent = 'ID:' + id;
            document.querySelector('#id_input').value = id;
        }
    </script>
</head>
<body onload="init();">
    <header>
        <h1>BBS</h1>
    </header>
    <div role="main">
        <p>メッセージは10件まで</p>
        <form action="/" method="post">
            <p>
                <span id="id"></span>
                <input type="hidden" id="id_input" name="id" value="">
            </p>
            <p>
                <input type="text" name="msg">
                <input type="submit" value="送信">
            </p>
        </form>
        <hr>
        <p>
            <table style="width: 85%;">
                <% for (var i in data) { %>
                    <%- include('data_item', {val: data[i]}) %>
                <% } %>
            </table>
        </p>
    </div>
</body>
</html>
